.card{
    width: 22.7%;
    margin: 1%;
    float: left;
    border: lightslategray solid 1px;
}

.card img{
    width: 100%;
}

.card p{
    text-align: center;
}

.card:hover{
    border-color: black;
}

@media only screen and (max-width: 1000px) {
    .card{
        width: 30.5%;
    }
}

@media only screen and (max-width: 700px) {
    .card{
        width: 47.5%;
    }
}

@media only screen and (max-width: 550px) {
    .card{
        width: 96%;
    }
}
