body{
    margin: 0px;
    padding: 0px;
}

.header{
    width: 100%;
    height: 100px;
}

.logo{
    width: 30%;
    height: 100px;
    background: blue;
    float: left;
}

.banner{
    width: 70%;
    height: 100px;
    background: red;
    float: left;
}

.nav{
    margin-top: 5px;
    width: 100%;
    height: 50px;
    background: pink;
    clear: both;
}

.content{
    width: 100%;
    height: 800px;
    margin-top: 5px;
}

.left{
    width: 15%;
    height: 800px;
    float: left;
}

.left-top{
    width: 100%;
    height: 200px;
    background: gray;
}

.left-bot{
    margin-top: 10px;
    width: 100%;
    height: 300px;
    background: yellow;
}

.mid{
    width: 60%;
    height: 800px;
    float: left;
}

.mid-top{
    width: 100%;
    height: 180px;
}

.mid-top-left{
    margin-left: 1%;
    width: 48%;
    height: 180px;
    background: violet;
    float: left;
}

.mid-top-right{
    margin-right: 1%;
    width: 48%;
    height: 180px;
    background: yellowgreen;
    float: right;
}

.mid-center{
    margin-top: 10px;
    width: 100%;
    height: 250px;
    clear: both;
}

.mid1{
    margin-left: 1%;
    width: 30%;
    height: 250px;
    background: royalblue;
    float: left
}

.mid2{
    margin-left: 4%;
    width: 30%;
    height: 250px;
    background: rgba(115, 125, 156, 0.678);
    float: left
}

.mid3{
    margin-right: 1%;
    width: 30%;
    height: 250px;
    background: rgb(204, 27, 195);
    float: right
}

.mid-bot{
    margin-top: 10px;
    width: 100%;
    height: 250px;
    clear: both;
}

.mid4{
    margin-left: 1%;
    width: 30%;
    height: 250px;
    background: rgb(163, 165, 43);
    float: left
}

.mid5{
    margin-left: 4%;
    width: 30%;
    height: 250px;
    background: rgba(91, 125, 226, 0.678);
    float: left
}

.mid6{
    margin-right: 1%;
    width: 30%;
    height: 250px;
    background: rgb(228, 118, 222);
    float: right
}


.right{
    width: 25%;
    height: 800px;
    background: green;
    float: left;
}

.footer{
    clear: both;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    background: saddlebrown;
}

