body{
    background-color: green;
}

h1{
    border: white 10px solid;
    border-top: white 50px solid;
    border-bottom: white 50px solid;
    width: 200px; height: 70px;
    background: pink;
    text-align: center;
    color: green;
    margin: 20px;
}